*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
.contentWrapper{
    border : 2px solid black;
    width : 40%;
    position : absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding : 1em 3em;
    border-radius : 10px;
    text-align: left;
}
.heading {
    font-size : 28px;
    text-align: center;
    margin : 10px 0;
}
.message{
    font-size : 18px;
    margin : 10px 0;
}
.subheading {
    font-size : 20px;
    margin : 10px 0;
}
.details{
    font-size : 16px;
    font-weight : 600;
    margin : 10px 0;
}
.details span{
    color : red;
    font-weight: 700;
    margin : 0 5px;
}
.btn{
    width : 400px;
    font-size : 20px;
    border : none;
    border-radius: 16px;
    padding : 6px 12px;
    background: rgb(26, 127, 243);
    box-shadow: 2px 4px 4px #ccc;
    color : #fff;
    cursor : pointer;
    position : absolute;
    bottom: 50px;
    left : 50%;
    transform : translate(-50%,-50%);
}